{% if fullView is defined and fullView %}
{{ header }}{{ column_left }}{{ column_right }}
<div class="container">
    {{ content_top }}
    {% endif %}

    <p><a href="{{ orderLink }}">Заказ №{{ orderId }}</a> был создан</p>

    {% if fullView is defined and fullView %}
    {{ content_bottom }}
</div>
{{ footer }}
{% endif %}
