{% if fullView is defined and fullView %}
{{ header }}{{ column_left }}{{ column_right }}
<div class="container">
    {{ content_top }}
    {% endif %}

    {% if not kassa.getEPL() %}
        <h3>{{ kassa.getDisplayName() }}</h3>
    {% endif %}
    <style type="text/css">
        .yoomoney_kassa_buttons {
            display: flex;
            justify-content: space-between;
        }

        .yoomoney_kassa_buttons_reverse {
            flex-direction: row-reverse;
        }

        .yoomoney-pay-button {
            position: relative;
            height: 60px;
            width: 155px;
            font-family: YandexSansTextApp-Regular, Arial, Helvetica, sans-serif;
            text-align: center;
        }

        .yoomoney-pay-button button {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            transition: 0.1s ease-out 0s;
            color: #000;
            box-sizing: border-box;
            outline: 0;
            border: 0;
            background: #FFDB4D;
            cursor: pointer;
            font-size: 12px;
        }

        .yoomoney-pay-button button:hover, .yoomoney-pay-button button:active {
            background: #f2c200;
        }

        .yoomoney-pay-button button span {
            display: block;
            font-size: 20px;
            line-height: 20px;
        }

        .yoomoney-pay-button_type_fly {
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12), 0 5px 10px -3px rgba(0, 0, 0, 0.3);
        }
    </style>
    <form method="post" action="" id="yoomoney-payment-form">
        {% if kassa.getEPL() %}
            <input type="hidden" name="kassa_payment_method" value=""/>
            <div class="yoomoney_kassa_buttons yoomoney_kassa_buttons_reverse">
            </div>
        {% endif %}

        {% if not kassa.getEPL() or (kassa.getEPL()) %}
            <div class="buttons">
                <div class="pull-right">
                    <button class="btn btn-primary" id="continue-button" data-loading-text="{{ language.get('text_loading') }}" type="button">
                        {{ language.get('text_continue') }}
                    </button>
                </div>
            </div>
        {% endif %}
    </form>
    <div id="payment-form" style="display: none;"></div>
    <script type="text/javascript"><!--
        var paymentType = jQuery('input[name=kassa_payment_method]');
        paymentType.change(function () {
            var id = '#payment-' + jQuery(this).val();
            jQuery('.additional').css('display', 'none');
            jQuery(id).css('display', 'block');
        });

        var continueButton = '#continue-button';
        jQuery(continueButton).off('click.default').on('click.default', function (e) {
            e.preventDefault();
            createPayment(jQuery(this));
        });

        function buttonAction(button, action) {
            if (jQuery.fn.button && button) {
                button.button(action);
            }
        }

        function createPayment(button) {
            button = button || null;
            var form = jQuery("#yoomoney-payment-form")[0];
            jQuery('#payment-form').hide();
            jQuery.ajax({
                url: "{{ validate_url }}",
                dataType: "json",
                method: "GET",
                data: {
                    paymentType: form.kassa_payment_method.value
                },
                beforeSend: function() {
                    buttonAction(button, 'loading');
                },
                success: function (data) {
                    if (data.success) {
                        document.location = data.redirect;
                    } else {
                        onValidateError(data.error);
                        buttonAction(button, 'reset');
                    }
                },
                failure: function () {
                    onValidateError('Failed to create payment');
                    buttonAction(button, 'reset');
                }
            });
        }

        function onValidateError(errorMessage) {
            var warning = jQuery('#yoomoney-payment-form .alert');
            if (warning.length > 0) {
                warning.fadeOut(300, function () {
                    warning.remove();
                    var content = '<div class="alert alert-danger">' + errorMessage + '<button type="button" class="close" data-dismiss="alert">×</button></div>';
                    jQuery('#yoomoney-payment-form').prepend(content);
                    jQuery('#yoomoney-payment-form .alert').fadeIn(300);
                });
            } else {
                var content = '<div class="alert alert-danger">' + errorMessage + '<button type="button" class="close" data-dismiss="alert">×</button></div>';
                jQuery('#yoomoney-payment-form').prepend(content);
                jQuery('#yoomoney-payment-form .alert').fadeIn(300);
            }
        }
    //--></script>

    {% if fullView is defined and fullView %}
    {{ content_bottom }}
</div>
{{ footer }}
{% endif %}
